img{
  border-radius: 50%;
}

table, th, td
{
  border: 1px solid black;
  border-collapse: collapse;
}
*{box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 60%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: center; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #4CAF50;}
.seo {width: 90%; background-color: #4CAF50;} /*Green*/
.css {width: 80%; background-color: #4CAF50;}
.js {width: 65%; background-color: #4CAF50;}
.python {width: 90%; background-color: #4CAF50;}
